:root {
  --pink: #e3dcdb;
  --green: #cad0ce;
  overflow-x: hidden;
}

body {
  margin: 0 auto;
  scroll-behavior: smooth;
  overflow-x: hidden;
}

.navbar {
  background: var(--pink);
}

.navbar-brand {
  font-family: "Courier New", Courier;
  font-size: 25px;
}

.hero {
  margin: 200px auto 100px;
}

h2 {
  font-family: "Courier New", Courier, monospace;
  font-size: 45px;
  margin: 0;
}

h1 {
  font-size: 65px;
  margin-bottom: 40px;
}

h3 {
  font-size: 30px;
  font-weight: 300;
}

#portrait-img {
  border-radius: 15px;
}

h4 {
  font-family: "Courier New", Courier, monospace;
  font-size: 30px;
  font-weight: 300;
  text-align: center;
}

.work-section {
  padding: 100px 0;
  background: var(--pink);
}

.work-section img {
  border-radius: 15px;
}

.work-section p {
  font-size: 12px;
}

.work-section button {
  margin: 9px auto;
  transition: all 200ms ease-in-out;
  padding: 5px 8px;
  background: white;
  border: solid 1px white;
  border-radius: 6px;
}

.work-section button:hover {
  color: black;
  background: var(--green);
}

.work-section a {
  text-decoration: none;
  color: rgb(33, 37, 41);
}

.about {
  padding: 100px 0;
}

.contact {
  padding: 100px 0;
  background: var(--pink);
}

.icons-contact {
  margin: 40px auto 30px;
}

.fa-brands {
  font-size: 45px;
}

.icons-contact a {
  text-decoration: none;
  color: rgb(33, 37, 41);
  transition: all 200ms ease-in-out;
}

.icons-contact a:hover {
  color: white;
}

h5 {
  font-family: "Courier New", Courier, monospace;
  font-size: 24px;
  font-weight: 300;
  text-align: center;
}

#playlist {
  max-width: 90%;
  height: 460px;
  border-radius: 15px;
  margin: 8px 0 0 0;
  line-height: 0;
}

footer {
  color: rgb(33, 37, 41);
  margin: 40px auto;
  text-align: center;
  line-height: 2;
}

footer a {
  text-decoration: none;
  color: rgb(33, 37, 41);
  transition: all 200ms ease-in-out;
  padding: 3px 4px;
  border: solid 1px var(--pink);
  border-radius: 5px;
}

footer a:hover {
  color: black;
  background: var(--green);
}

@media (max-width: 1000px) {
  .navbar {
    max-width: 100%;
  }

  .hero {
    margin: 150px auto 80px;
  }

  h2 {
    font-size: 38px;
  }

  h1 {
    font-size: 55px;
    margin-bottom: 28px;
  }

  h3 {
    font-size: 23px;
  }

  .about p {
    font-size: 14px;
  }

  h4 {
    font-size: 27px;
  }

  .work-section {
    padding: 80px 0;
  }

  .second-row {
    margin-top: 25px;
  }

  .about {
    padding: 80px 0;
  }

  .contact {
    padding: 80px 0;
  }

  #playlist {
    height: 400px;
  }
}

@media (max-width: 900px) {
  h2 {
    font-size: 34px;
  }

  h1 {
    font-size: 50px;
    margin-bottom: 22px;
  }

  h3 {
    font-size: 19px;
  }

  .second-row {
    margin-top: 0;
  }

  .div-project {
    margin-top: 10px;
  }

  .about p {
    font-size: 12px;
  }
}

@media (max-width: 767px) {
  #portrait-img {
    margin-top: 25px;
  }

  .material-symbols-outlined {
    font-size: 12px;
  }

  .about p {
    font-size: 10px;
  }

  .div-project {
    margin-top: 25px;
  }

  .playlist-container {
    margin-top: 50px;
  }
}

@media (max-width: 400px) {
  body {
    overflow-x: hidden;
  }
}
